.description {
  margin-bottom: 100px;
  display: flex;
}

@media all and (max-width: 1023px) {
  .description {
    margin-bottom: 64px;
  }
}

@media all and (max-width: 424px) {
  .description {
    margin-bottom: 30px;
  }
}
