.description {
  margin-bottom: 100px;
}

@media all and (max-width: 1023px) {
  .description {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 585px) {
  .description {
    margin-bottom: 25px;
  }
}
