.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1023px) {
  .digits {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 585px) {
  .digits {
    margin-bottom: 30px;
  }
}
