.section-subtitle {
  margin: auto;
  text-align: center;
  line-height: 1.4;
  font-size: 24px;
  font-weight: normal;
}

@media all and (max-width: 767px) {
  .section-subtitle {
    font-size: 20px;
  }
}

@media all and (max-width: 585px) {
  .section-subtitle {
    font-size: 18px;
  }
}
