.kaufman {
  padding: 90px 0 150px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media all and (max-width: 1023px) {
  .kaufman {
    padding: 60px 0 50px;
  }
}

@media all and (max-width: 585px) {
  .kaufman {
    padding: 40px 0 30px;
  }
}
