.video__iframe {
  width: 516px;
  min-height: 316px;
  border: 0;
}

@media all and (max-width: 767px) {
  .video__iframe {
    width: 100%;
  }
}

@media all and (max-width: 475px) {
  .video__iframe {
    min-height: 200px;
  }
}
