.header__subtitle {
  max-width: 388px;
  line-height: 1.4;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  grid-area: subtitle;
  align-self: end;
  z-index: 3;
}

@media all and (max-width: 1279px) {
  .header__subtitle {
    font-size: 16px;
    max-width: 335px;
  }
}

@media all and (max-width: 1023px) {
  .header__subtitle {
    font-size: 14px;
    max-width: 260px;
  }
}

@media all and (max-width: 767px) {
  .header__subtitle {
    font-size: 13px;
  }
}

@media all and (max-width: 630px) {
  .header__subtitle {
    font-size: 12px;
    max-width: 230px;
  }
}

@media all and (max-width: 585px) {
  .header__subtitle {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
