.two-columns {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 585px) {
  .two-columns {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}


