.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  min-height: 350px;
}

@media all and (max-width: 767px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media all and (max-width: 585px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
