.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  max-width: 175px;
}


@media all and (max-width: 1279px) {
  .two-columns__brief {
    max-width: none;
  }
}

@media all and (max-width: 1023px) {
  .two-columns__brief {
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  .two-columns__brief {
    font-size: 14px;
  }
}

@media all and (max-width: 585px) {
  .two-columns__brief {
    font-size: 18px;
    align-self: flex-start;
  }
}
